@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  padding: 0 4rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.151);
}

.login_btn {
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
  border-radius: 2rem;
  transition: all 0.2s ease-in-out;
  border: 2px solid var(--color-1);
}

#login_btn_1 {
  color: var(--color-1);
  &:hover {
    background-color: var(--color-1);
    color: #fff;
  }
}

#login_btn_1:hover ~ #login_btn_2 {
  background-color: transparent;
  color: var(--color-1);
}

#login_btn_2 {
  background-color: var(--color-1);
  color: #fff;
  &:hover {
    background-color: transparent;
    color: var(--color-1);
  }
}

.login_btn_parent {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.35rem;
}

.login_btn_parent:has(#login_btn_2:hover) #login_btn_1 {
  background-color: var(--color-1);
  color: #fff;
}

.nav_links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  list-style-type: none;
}

.nav_links a {
  color: var(--color-1);
}

.nav_links > *:not(:nth-child(1)):not(:nth-child(2)) {
  position: relative;

  &:hover::after {
    transform: scaleX(1);
    transform-origin: right;
  }
}

.nav_links > *:not(:first-child)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-1);

  transition: all 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.web_logo {
  font-family: "Faculty Glyphic", sans-serif;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.logo_das {
  background-color: var(--color-1);
  height: 2px;
  width: 2.5rem;
  border-radius: 0.25rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.menu_wraper {
  height: 100%;
  display: none;
  align-items: center;
  position: relative;
}

#sidebar_link {
  visibility: hidden;
  position: absolute;
}

#menu_icon {
  display: flex;
  align-items: center;
  color: var(--color-1);
}

@media (max-width: 1170px) {
  .main_nav {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (max-width: 1110px) {
  .main_nav {
    padding: 0 2rem;
  }

  .logo_das {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 1080px) {
  .web_logo {
    font-size: 1.68rem /* 26.88px */;
    line-height: 2rem /* 32px */;
  }

  .nav_links > *:not(:first-child) {
    font-size: 1.05rem /* 16.8px */;
    line-height: 1.5rem /* 24px */;
  }

  .login_btn {
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
  }
}

@media (max-width: 1010px) {
  .logo_das {
    width: 1.5rem /* 24px */;
  }

  .web_logo {
    font-size: 1.4rem /* 22.4px */;
    line-height: 1.5rem /* 24px */;
  }

  .nav_links {
    gap: 1.25rem /* 20px */;
  }

  .nav_links > *:not(:first-child) {
    font-size: 1rem /* 16px */;
    line-height: 1.3rem /* 20.8px */;
  }

  .login_btn {
    font-size: 1rem /* 16px */;
    line-height: 1.3rem /* 20.8px */;
    padding: 0 1rem;
  }
}

@media (max-width: 890px) {
  .menu_wraper {
    display: flex;
  }

  .nav_links > *:not(:first-child) {
    display: none;
  }
  .main_nav {
  }

  .login_btn {
    display: none;
  }
}
