* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-1: #11a189;
  --color-2: #119b84;
}
